{% extends "site.html" %}

{% load crispy_forms_tags %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="row">

<section class="span4 offset2">

<form class="form-stacked" method="post">
    {% csrf_token %}

    <legend>
        {% if user.profile.pic_url %}
            <img class="avatar" src="{{ user.profile.pic_url }}">
        {% endif %}
        {{ user.username }}'s settings
    </legend>

    {% crispy form %}
</form>

</section>

<section class="social-providers span4">

{% if user.profile.linked_providers %}
    <h4>Linked Accounts (click to unlink)</h4>
    <ul>
    {% for provider in user.profile.linked_providers %}
        <li><a href="{% url "socialauth_disconnect" provider %}?next=/profile/"><img src="{{ STATIC_URL }}/images/auth/{{ provider }}_64.png"></a></li>
    {% endfor %}
    </ul>
{% endif %}

{% if user.profile.unlinked_providers %}
<h4>Unlinked Accounts</h4>
<ul>
    {% for provider in user.profile.unlinked_providers %}
    <li><a href="{% url "socialauth_associate_begin" provider %}?next=/profile/"><img src="{{ STATIC_URL }}/images/auth/{{ provider }}_64.png"></a></li>
{% endfor %}
</ul>
{% endif %}

</section>

</div>

{% endblock %}
